/* Put your custom styles here */
.content-1-7 img {
    opacity: 1;
    width: 150px;
    max-width: 150px;
}

.content-1-7 img:hover {
    opacity: 0.2;
}

.content-1-7 .col-md-2 {
    width: 20%;
    height: 100px;
}

.bg-deepocean {
    background-color: #1a1a1a;
}